@inherits LayoutComponentBase

<div class="container">
    @Body
</div>

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
</style>